// Variables
// --------------------------------------


// Fonts 
$font-size-base: 16px;
$font-size-text: ($font-size-base - 1px);
$font-size-title: ($font-size-base + 5px);


// Colors
$color-brand: #1e84cc;
$color-brand-darker: darken($color-brand, 10%);

$color-gray-base: #000;
$color-gray-lighter: lighten($color-gray-base, 80%);

$color-text-base: lighten($color-gray-base, 20%);
$color-text-secondary: lighten($color-gray-base, 40%);
