/* -------- cart -------- */

.cart {
  
  .icon-cart {
    display: inline-block;
    padding: 15px 13px;
    font-size: ($font-size-base + 5);
    border-radius: 50%;
    background-color: $color-brand;
    color: #fff;
  }

  &__title {
    display: block;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: ($font-size-base);
    text-transform: uppercase;
    font-weight: bold;
    color: $color-brand;

    &:hover {
      color: $color-brand-darker;
    }
  }

  &__items,
  &__sum {
    margin-left: 5px;
    font-size: ($font-size-base - 1);
    color: $color-text-secondary;
  }
}