/* -------- description -------- */

.description {
  position: absolute;
  top: 0;
  right: 0;

  &__name {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }

  &__date {
    margin-bottom: 25px;
    color: lighten($color-gray-base, 75%);
  }

  &__link {
    display: block;
    margin-top: 15px;
    color: #fff;

    &:hover {
      color: $color-brand;
    }
  }

  &--position-slider {
    top: 80px;
    right: 130px;
  }

  &--position-left {
    top: 30px;
    left: 30px;
  }

  &--position-right {
    top: 30px;
    right: 30px;
  }
}