/* -------- form-email -------- */

.form-email {
  position: relative;

  &__input {
    padding: 10px;
    border: none;
    outline: none;
  }

  &__btn {
    position: absolute;
    width: 38px;
    height: 38px;
    border: none;
    background-color: $color-brand;
    outline: none;
    background: $color-brand url('../img/ic-email.svg') 50% 50% no-repeat;
    background-size: 50%;
  }
}