/* -------- form-search -------- */

.form-search {
  position: relative;
  line-height: 54px;

  &__input {
    width: 80%;
    padding: 11px 20px;
    font-style: italic;
    border: 1px solid $color-gray-lighter;
    outline: none;
  }

  &__btn {
    position: absolute;
    top: 6px;
    width: 41px;
    height: 42px;
    background-color: #fff;
    border: 1px solid $color-gray-lighter;
    border-left: none;
    outline: none;
  }
}