/* -------- section -------- */

.section {
  @include clearfix;
  margin-bottom: 70px;

  &__title {
    float: left;
    margin: 0;
    font-size: $font-size-title;
    text-transform: uppercase;
  }
}