/* -------- social -------- */

.social {
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid $color-gray-lighter;
  background-color: #fff;

  &--fbk {
    background: url('../img/ic-facebook.svg') right 10px bottom -25px no-repeat;
    background-size: 20%;
  }

  &--twr {
    background: url('../img/ic-twitter.svg') right 10px bottom -10px no-repeat;
    background-size: 35%;
  }

  &--glp {
    background: url('../img/ic-google.svg') right 10px bottom -25px no-repeat;
    background-size: 35%;
  }

  &--ins {
    background: url('../img/ic-instagram.svg') right 10px bottom -25px no-repeat;
    background-size: 35%;
  }

  &__name {
    margin-bottom: 15px;
    font-size: $font-size-base;
    text-transform: uppercase;
    font-weight: bold;

    &--fbk {
      color: #425f9c;
    }

    &--twr {
      color: #55acee;
    }
    
    &--glp {
      color: #dd4b39;
    }

    &--ins {
      color: #2C5D7F;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: ($font-size-base - 2);
    font-weight: bold;
  }

  &__text {
    margin-bottom: 15px;
    font-size: ($font-size-base - 3);
    color: $color-text-secondary;
  }

  &__link {
    display: inline-block;
    padding: 8px 25px;
    font-size: ($font-size-base - 3);
    border: 1px solid $color-gray-lighter;
    border-radius: 4px;
    background-color: lighten($color-gray-base, 90%);

    &:hover {
      color: #fff;
    }

    &--fbk:hover {
      background-color: #425f9c;
    }

    &--twr:hover {
      background-color: #55acee;
    }

    &--glp:hover {
      background-color: #dd4b39;
    }

    &--ins:hover {
      background-color: #2C5D7F;
    }
  }
}